# Editor settings
.vscode/

# R temporary files
.Rhistory
.RData
.Rproj.user/

# OS-specific junk
.DS_Store
Thumbs.db

# Data files
source/
data_input/

# Logs, temp, cache
*.log
*.tmp
*.cache

# Other generated outputs
*.coveragefin.txt

# Bakups
_*
